<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Phone Verified</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
	<h1>Phone Number Verification</h1>
	<div>
		<div id="confirmation message">
            <%- verifiedBody %>
        </div>
	</div>
    <div>
        <hr>
        <strong>Task completed at <%= taskCompletedAt %> </strong>
        <hr>
    </div>
    <div>
        <a href="/">HOME</a>
    </div>
</body>

</html>
