<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Phone Verified</title>
</head>

<body>
	<h1>Phone Number Verification</h1>
	<div>
		<div id="confirmation message">
            <%- verifiedBody %>
        </div>

        <hr>
        <strong>Task completed at <%= taskCompletedAt %> </strong>
        <hr>
        <a href="/">HOME</a>
	</div>
</body>

</html>
